<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <label id="winner">@ViewBag.Winner</label>
        <form action="/play/index" method="post">
            <input type="submit" id="Continue" name="continue" value="Continuar">
        </form>
        <form action="/home/index" method="post">
            <input type="submit" id="Restart" name="restart" value="Reiniciar">
        </form>
    </div>
</body>
</html>
