<!DOCTYPE html>

<label id="winner">@ViewBag.Winner</label>
@using (Html.BeginForm("Index", "Match"))
{
    <input type="submit" value="Continue" />
}
@using (Html.BeginForm("Index", "Home"))
{
    <input type="submit" value="Restart" />
}