<html>
<body>
    <h1>Code Fighters</h1>
    <form target="/">
        <div>
            <label>PLAYER 1</label>
            <input type="text" id="player1" name="player1" />
            <select id="player1type">
                <option value="0">DEV</option>
                <option value="1">QA</option>
                <option value="2">BA</option>
                <option value="3">PM</option>
            </select>
        </div>
        <div>
            <label>PLAYER 2</label>
            <input type="text" id="player2" name="player2" />
            <select id="player1type">
                <option value="0">DEV</option>
                <option value="1">QA</option>
                <option value="2">BA</option>
                <option value="3">PM</option>
            </select>
        </div>
        <div>
            <input type="submit" value="PLAY" />
        </div>
    </form>
</body>
</html>