<html>
<body>
    <h1>Code Fighters</h1>
<form action="Home/Go">
        <div>
            <label>Player 1</label>
            <input type="text" id="Player1" name="Player1" />
            <select id="PlayerType1" name="PlayerType1">
                <option value="0">Dev</option>
                <option value="1">QA</option>
                <option value="2">BA</option>
                <option value="3">PM</option>
            </select>
        </div>
        <div>
            <label>Player 2</label>
            <input type="text" id="Player2" name="Player2" />
            <select id="PlayerType2" name="PlayerType2">
                <option value="0">Dev</option>
                <option value="1">QA</option>
                <option value="2">BA</option>
                <option value="3">PM</option>
            </select>
        </div>
        <div>
            <input type="submit" value="PLAY" />
        </div>
    </form>
</body>
</html>