<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fight</title>
</head>
<body>
    <span>
        <label id="playerName1">@ViewBag.PlayerName1</label>
        <label id="playerScore1">@ViewBag.PlayerScore1</label> 
    </span>
    <span>
        <label id="playerName2">@ViewBag.PlayerName2</label>
        <label id="playerScore2"@ViewBag.PlayerScore2></label>
    </span>
</body>
</html>
