<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fight</title>
</head>
<body>
    <div>
        <h1 id="playerName1">@ViewBag.PlayerName1</h1>
        <h2 id="playerScore1">@ViewBag.PlayerScore1</h2> 
    </div>
    <div style="">
        <h1 id="playerName2">@ViewBag.PlayerName2</h1>
        <h2 id="playerScore2"@ViewBag.PlayerScore2></h2>
    </div>
</body>
</html>
