<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fight</title>
</head>
<body>
    <div>
        <h1 id="playerName1"></h1>
        <h2 id="playerScore1"></h2> 
    </div>
    <div>
        <h1 id="playerName2"></h1>
        <h2 id="playerScore2"></h2>
    </div>
</body>
</html>
