@model CodeFighter.BL.Game

<div>
    <div>
        <h6 id="Player1Name">@Model.Player1.Name</h6>
        <h6 id="Player2Name">@Model.Player2.Name</h6>


        @Model.Player1.LifeString
        @Model.Player2.LifeString




    </div>

</div>